# General
*.swp
tags
tmp

# Build directories
/*build*
src/*build*

# Visual Studio / Visual Studio Code
*.opensdf
*.sdf
*.suo
/*.vs*
/src/*.vs*

# KDevelop
*.kate-swp
*.kdev4

# Qt Creator
*.config
*.creator*
*.files
*.includes
CMakeLists.txt.user
