Source: soci
Priority: extra
Maintainer: Denis Chapligin <chollya@satgate.net>
Build-Depends: quilt,
 patchutils (>= 0.2.25),
 cdbs (>= 0.4.27),
 debhelper (>= 7.0.1),
 dh-buildinfo,
 cdbs (>= 0.4.69~),
 devscripts (>= 2.10.7~), cmake, libboost-dev | libboost1.44-dev,
 libmysqlclient15-dev, libpq-dev, libsqlite3-dev, unixodbc-dev
Standards-Version: 3.7.3
Section: libs
Homepage: http://soci.sourceforge.net

Package: libsoci-core-gcc
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ Database Access Library (core)
 Database access library for C++ that makes the illusion of
 embedding SQL queries in the regular C++ code, staying entirely
 within Standard C++.
 .
 This package provides the shared library.

Package: libsoci-core-gcc-dev
Priority: optional
Section: libdevel
Architecture: any
Depends: libsoci-core-gcc (= ${binary:Version}), ${misc:Depends}
Description: C++ Database Access Library (devel)
 Database access library for C++ that makes the illusion of
 embedding SQL queries in the regular C++ code, staying entirely
 within Standard C++.
 .
 This package provides the development headers.

Package: libsoci-core-gcc-dbg
Priority: extra
Section: libs
Architecture: any
Depends: libsoci-core-gcc (= ${binary:Version}), ${misc:Depends}
Description: C++ Database Access Library (debug symbols)
 Database access library for C++ that makes the illusion of
 embedding SQL queries in the regular C++ code, staying entirely
 within Standard C++.
 .
 This package provides the debugging symbols.

Package: libsoci-mysql-gcc
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ Database Access Library (MySQL backend)
 Database access library for C++ that makes the illusion of
 embedding SQL queries in the regular C++ code, staying entirely
 within Standard C++.
 .
 This package provides the MySQL backend.

Package: libsoci-sqlite3-gcc
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ Database Access Library (SQLite3 backend)
 Database access library for C++ that makes the illusion of
 embedding SQL queries in the regular C++ code, staying entirely
 within Standard C++.
 .
 This package provides the SQLite3 backend.

Package: libsoci-postgresql-gcc
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ Database Access Library (PostgreSQL backend)
 Database access library for C++ that makes the illusion of
 embedding SQL queries in the regular C++ code, staying entirely
 within Standard C++.
 .
 This package provides the PostgreSQL backend.

Package: libsoci-odbc-gcc
Priority: optional
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ Database Access Library (PostgreSQL backend)
 Database access library for C++ that makes the illusion of
 embedding SQL queries in the regular C++ code, staying entirely
 within Standard C++.
 .
 This package provides the ODBC backend.
